*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{

    --corprincipal: #F05941;
    --corsegundaria: #22092C;
    --corterciaria: #BE3144;
    --corquartetaria: #872341;
    --cortexto: #e4e4e4;
}

body{
    background: url(images/firetypes.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.cabecalho{
    align-items: center;
    background-color: var(--corprincipal);
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0.5%; 
}

.cabecalho__titulo{
    color: var(--corsegundaria);
}

.cabecalho__titulo:hover{
    color: var(--cortexto);
}

.cabecalho__img{
    width:70px;
    height:70px
}

.container-input{
    display: flex;
    justify-content: center;
    margin: 6% 0;
    gap: 80px; 
}

#input-texto {
    width: 350px;
    height: 300px;
    font-size: 1.2rem;
    color: var(--cortexto);
    border: 1px solid var(--corterciaria);
    border-radius: 15px;
    background-color: #87234123;
    box-shadow: none;
    resize: none;
    padding: 15px;
    outline: none;
    backdrop-filter: blur(5px); 
}

::-webkit-input-placeholder {
    text-align: center;
    color: var(--cortexto);
 }

.input h6{
    color: var(--cortexto);
    border: 10%;
    margin: 3%;
    text-align: center;
}

.container-bnt {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.container-bnts{
    width: 185px;
    background: var(--corprincipal);
    border-radius: 15px;
    text-decoration: none;
    color: var(--cortexto);
    padding: 15px;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid var(--corquartetaria);
    font-size: 1rem;
    margin-top: 15px;
    font-weight: bold;
}

.container-bnts:hover{
    background-color: var(--corterciaria)
}
.container-bnts:active{
    transform: translateY(2px);
    border-bottom: none;
}
#output-texto{
    backdrop-filter: blur(5px); 
    border: 1px solid var(--corterciaria);
    background-color: #87234123;
    box-shadow: none;
    border-radius: 15px;
    color: var(--cortexto);
    display: flex;
    font-size: 1.2rem;
    height: 425px;
    padding: 15px;
    outline: none;
    resize: none;
    width: 350px;
}

#output{
text-align: center;
}

.rodape{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2%;
    background: var(--corprincipal);
    color: var(--corsegundaria);
    bottom: 0;
}

.rodape h3{
    font-size: 1rem;
}

.nome_rodape strong{
    color: var(--cortexto);
    text-decoration: none;
    animation: neon 3s alternate infinite ease-in-out;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cortexto));
    }
    to {
        filter: drop-shadow(0 0 15px var(--cortexto));
    }
}
.icons ion-icon{
    width: 35px;
    height: 35px;
    color: var(--corsegundaria);
}

.icons ion-icon:hover{
    color: aliceblue;
    animation: 0.5s all;

}