*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   
}
:root{

    --corprincipal: #F05941;
    --corsegundaria: #22092C;
    --corterciaria: #BE3144;
    --corquartetaria: #872341;

}

body{
    background: var(--corsegundaria);
    box-sizing: border-box;

}

.cabecalho{
    display: flex;
    background-color: var(--corprincipal);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0.5%;
    
    
}

.cabecalho__titulo{
    color: var(--corsegundaria);
}

.cabecalho__img{
    width:70px;
    height:70px
}

.container-input{
    display: flex;
    justify-content: center;
    margin: 10% 0;
    gap: 80px;
    
}

/* .container-input .input{
    width: 400px;
    height: 330px;
} */

#input-texto{
    width: 300px;
    height: 300px;
    font-size: 1.5rem;
    color: var(--corsegundaria);
    border: 1px solid var(--corterciaria);
    background: var(--corquartetaria);
    box-shadow: none;
    resize: none;
    border-radius: 15px;
    padding: 10px;
    
}

::-webkit-input-placeholder {
    color: var(--corsegundaria);

 }

.input h6{
    color: var(--corprincipal);
    border: 10%;
    margin: 3%;
    text-align: center;

}

#output-texto{
    display: flex;
    border: 1px solid var(--corterciaria);
    width: 300px;
    height: 400px;
    font-size: 1.5rem;
    color: var(--corsegundaria);
    background: var(--corquartetaria);
    box-shadow: none;
    border-radius: 15px;
    resize: none;
    padding: 10px;
}



#output span{
    font-size: 14px;
    text-align: center;
}

/* #output img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-top: 10%;
} */

.container-bnt button{

    background: var(--corprincipal);
    border-radius: 15px;
    text-decoration: none;
    color: var(--corsegundaria);
    width:  160px;
    padding: 15px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    


}

.btn-copiar{

    background: #1e85da;
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    width:  150px;
    height: 50px;
    margin-bottom:10%;
    margin-left: 30%;
    cursor: pointer;

}

.container-bnt button:hover{

    color: aliceblue;
    transition: 0.5s all;

}

.rodape{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: var(--corprincipal);
    color: var(--corsegundaria);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 35px;
    height: 35px;
    color: var(--corsegundaria);
}

.icons ion-icon:hover{
    color: aliceblue;
    animation: 0.5s all;

}